/* TBH I suck at CSS so if you could improve this, that would be great */

@font-face {
    font-family: "garamond-premier-pro";
    src: url("fonts/garamond-premier-pro.woff") format('woff');
}

.w3-lschs {
    color: #fff !important;
    background-color: #054375 !important;
}
.w3-text-lschs {
    color: #054375;
}
.w3-text-lschs:hover {
    color: #a29064 !important;
}
.w3-bar-item {
    height: 40px !important;
}

#letterDays {
    height: 400px;
    width: auto;
}

#time {
    text-align: center;
    font-size: 26px;
    font-family: "garamond-premier-pro", Georgia, serif;
}

#schedule, #letters {
    font-family: sans-serif;
    font-size: 15px;
}